.topbanner {
    background-image: linear-gradient(45deg, #8c0000 25%, #d60000 50%, #8c0000 75%);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: relative;
    &_motto{
        font-size: x-large;
        color: var(--smokey)
    }
    &_right{
        display: flex;
        position: absolute;
        right: 40px;
        color: var(--smokey) !important;
        a{
            display: flex;
            column-gap: 5px;
            align-items: flex-end;
            //border: 1px solid #46AFF1;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover{
                color: #46AFF1;
                box-shadow: 0px 0px 4px 2px #46AFF1;
            }
        }
    }
  }

.categories{
    //border: 2px solid red;
    min-width: 300px;
    width: 300px;
    padding: 20px 40px;
    &_each{
        padding-bottom: 10px;
        border-bottom: 1px solid silver;
        color: navy;
        margin-bottom: 10px;
        display: grid;
        row-gap: 5px;
        a{
            &:hover{
                text-decoration: underline;
            }
        }
        &_main{
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-weight: bold;
        }
        &_subs{
            display: grid;
            row-gap: 5px;
        }
        #sub{
            padding-left: 40px;
            color: var(--main_blue);
        }
    }
}

.display{
    padding-top: 20px;
    width: 76%;
    &_ads{
        border-top: 1px solid silver;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding-top: 10px;
        &_each{
            box-shadow: 0px 0px 2px 1px silver;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            min-width: 110px;
            padding: 10px;
            img{
                width: 100%;
                height: 80%;
            }
            &_text{
                background-color: #d60000;
                color: var(--smokey);
                font-size: 14px;
                height: 20%;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
    }
}

.ads{
    padding: 40px 10px;
    width: 15%;
    iframe{
        width: 100%;
        aspect-ratio: 2/3;
        background-color: var(--smokey);
    }
}

.bottombanner{
    background-color: var(--smokey);
    display: flex;
    justify-content: center;
    padding: 40px 0;
    &_shell{
        display: grid;
        grid-template-columns: repeat(5, 200px);
        &_each{
            h4{
                margin-bottom: 10px;
            }
            &_link{
                padding: 5px 0;
                color: gray;
                font-size: 14px;
                a:hover{text-decoration: underline;}
            }
        }

    }
}